<div style="display: flex; fle">
    <div style="width: 20%; background-color: #003784; text-align: center">
        <button style="width: 90%; height: 100px; margin: auto; background-image: url('https://mewcard.mewapi.io/?address=0xe2B7a0c7bC21E000B8327713513b9D4d2620A414'); text-align: left">
            <h1>${{user.balance}}</h1>
        </button>
    
        <div>
            <button onclick="location.href='/wallet/send'" >sent</button>
        </div>
        <div style="text-align: center">
        <div style="width: 100%; color: white; margin-top: 30px">Dashboard</div>
        <div style="width: 100%; color: white; margin-top: 30px">NFT Manager</div>
        <div style="width: 100%; color: white; margin-top: 30px">DApps</div>
        <hr>
        <div style="width: 100%; color: white; margin-top: 30px">Setting</div>
        <div onclick="location.href='/wallet/logout'" style="width: 100%; color: white; margin-top: 30px">Logout</div>
        <div style="width: 100%; color: white; margin-top: 30px">Data tracking Off</div>
        </div>

    </div>
    <div style="width: 55%; background-color: #c1c1c1; text-align: center">
        <div style="width: 90%; background-color: white; height: 400px; border-radius: 5px; text-align: center">
            <form action="/wallet/send" method="POST" style="width: 60%; text-align: left; margin: auto">
                <h2>Send</h2>
                <div>balance: {{user.balance}}</div>
                <h3>From</h3> 
                <input type="text" id='from' name='from' value="{{user.username}}">
                <h3>Amount</h3>
                <input type="number" value="0" id="amount" name="amount" max={{user.balance}} min="0">
                <datalist id="list">
                    {{#each users}}
                    <option value="{{username}}"></option>
                    {{/each}}
                </datalist>
                <h3>To</h3>
                <input type="text" id='to' name='to' list="list">
                <div>
                    <button style="margin-top:30px; cursor: pointer; border: 0px;width: 200px; height: 50px; border-radius: 10px; background-color: #c1c1c1; color:white">Next</button>
                </div>
            </form>
        </div>
    </div>
    <div style="width: 30%; background-color: #c1c1c1; text-align: center">
        <div style="width: 90%; background-color: white; height: 300px; border-radius: 5px; text-align: left">
            <h2>Network</h2>
            <div>ETH - Ethereum</div>
            <div style="margin-top: 30px">Last Block: 14,716,972</div>
        </div>
    </div>
</div>